doctype html
html
  head
    title temp2
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i', rel='stylesheet')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=vietnamese" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700&subset=latin-ext,vietnamese" rel="stylesheet")
    link(rel='stylesheet', type='text/css', href='css/main.css')
  body
    .tem2
      header
        .text
          h3.name Hoàng thị yến
          p hoangyen2912@gmail.com
          p 0973-695-135
          p.uppercase hà nội
        .avatar
      main
        h3.title Kinh nghiệm
        .mrow
          .first
            p 2011 - 2016
          .second
            h3.position Chuyên viên thẩm định giá
            h4.company Công ty CP Thẩm định giá Avalue Việt Nam
            .left
              h5 Nội dung công việc:
            .right
              ul
                li Khảo sát hiện trạng tài sản, tìm hiểu thu thập thông tin.
                li Thực hiện định giá tài sản 
                li Lập báo cáo và phát hành chứng thư thẩm định giá
                li Thuyết trình bảo vệ kêt quả định giá với khách hàng và bên thứ 3
      footer
        p --- Thanks for consideration! ---
